*{
   box-sizing: border-box;
}

body{
   background-color: khaki;

}

h1{
   font-style: italic; /* css "стили шрифта" (snipet fs) */
   text-decoration: underline; /* css "декор шрифта" (snipet td) */
}

body div{ /* при обращении к тегу */
   color: brown; /* css color name */
   text-align: center; /* css text center (snipet TAC) */
   font-weight: bold; /* css "жирность" (snipet fwb) */
   font-size: 30px;

}

.title{ /* при обращении к классу */
   color: #231f6b ; /* css color HEX code */

}

#sun{ /* при обращении к айди */
   color: rgb(250, 2, 2); /* css color decimal code */
   text-transform: uppercase; /* css "декор шрифта" (snipet tt) */
}

.work{
   color: rgba(2, 250, 64, 0.3); /* css color decimal code with alpha canal */
}







a{
   padding: 20px;
   margin: 20px; /* отступ появится только слева и справа,
   и строчный элемент не реагирует на указание ширины */
}

img{
   display: block; /* элемент становиться блочным */
   margin: 0 auto; /* выровнить по горизонтали */
   float: left; /* обтекание картинки слева */
}

nav{
   /* position: static; восттавновить порядок как изночально */
   /* position: relative; */ /* распологать как вздумается и двигать свойствами left, right, top. bottom */
   /* position:absolute; выпадение из общего списка html разметки
   и двигать свойствами left, right, top. bottom РАБОТАЕТ ЕСЛИ В РОДИТЕЛЕ УКАЗАНО
   position: relative; */
   /*  position: fixed; */ /* при скроллинге остается на ме5сте */
   position: inherit; /* положение наследуется от родителя */
}

.example{
   position: relative;
   display: inline-block;
   top: 20px;
}

.blue{
   vertical-align: top; /* выравнивание по верху */
   vertical-align: middle;
   display:inline-block;
   position: static;
   left: 0px;

   height: 260px;
   width: 380px;
   background-color: blue;
   margin: 0px;
   padding: 10px;
   text-align: center;
   border-style: solid;
   border-width: 10px;
   border-color: white;
   /* border: 3px solid black;   другой вариант написания*/
}

.green{
   background-color: green;
   height: 100px;
   /* border: 3px solid black;   другой вариант написания*/
}

.red{
   background-color:rgb(250, 2, 2);
   height: 200px;
   z-index: -1; /* выравние по оси z */
}

.inSquare{
   display: inline-block;
   width: 200px;
   background-color: wheat;
   padding: 1px;
   border-style: solid;
}
